root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4
tab_width = 4

[*.{kt,kts}]
max_line_length = off
ij_kotlin_name_count_to_use_star_import = 2147483647
ij_kotlin_name_count_to_use_star_import_for_members = 2147483647
# Empty = wildcard ("on demand") imports fully banned, no exceptions
ij_kotlin_packages_to_use_import_on_demand =
ij_kotlin_allow_trailing_comma = true
ij_kotlin_allow_trailing_comma_on_call_site = true
ktlint_standard_function-naming = disabled
ktlint_standard_backing-property-naming = disabled

[*.{java,xml,gradle,gradle.kts}]
max_line_length = off

[*.{yml,yaml,json}]
indent_size = 2
